DBHOST="mongodb://127.0.0.1:27017/acorn"
defaultAdminPassword="CHANGEME"
defaultAdminUser="CHANGEME"
EMAIL="CHANGEME_EMAIL"
EMAIL_PASSWORD="CHANGEME_PASSWORD"
EMAIL_SERVER="example.smtpserver.com"
MAGIC_LINK_SECRET="CHANGEME"