<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>
    <a href="/logout"><h3> LOGOUT </h3></a>
    <a href="/"><h3> User View </h3></a>

    <div id='calendar'></div>
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone:'America/Chicago',
            dateClick: function(info) {
            },
            events: {
                url: '/events/getRangeAdmin',
                failure: function() {
                    alert('there was an error while fetching events!');
                }
            },
            dayCellDidMount: function (arg) { //Color background of Mondays
                if (arg.dow == 1) {
                    arg.el.bgColor="gray";
                }
            },
            firstDay:1
        });
        calendar.render();
    });
</script>
</body>
</html>