<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>
    <%if (!isLoggedIn) { %>
        <a href="/login"><h3> LOGIN </h3></a>
        <a href="/register"><h3> REGISTER </h3></a>
        <% } %>
        <%if (isLoggedIn) { %>
            <a href="/logout"><h3> LOGOUT </h3></a>
            <a href="/profile"><h3> My Profile </h3></a>
            <% } %>
            <div id='calendar'></div>
            </script>
            <script src="calendar.js"> </script>
        </body>
        </html>