.row {
  display: flex;
}

.column {
  flex: 50%;
}

#messageDisplay{
  overflow-y:auto;
  height:50%;
}

.disabled{
  pointer-events: none;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}